@import "nib"
vendor-prefixes = webkit o ms moz official
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
plomoClaro_fondo=#e8e8e8
plomoClaro_letra=rgb(126, 126, 126)
plomoOscuro_letra=rgba(86, 85, 90,1)
rojo=rgb(245, 11, 11)
rojo_overlay=rgba(255, 21, 21, 0.51)
rojoSombra=rgb(215, 5, 5)
body
	margin auto
	font-family 'Ubuntu', sans-serif
	font-size 16px
a
	text-decoration none !important
figure
	position relative
	margin auto
/*Helpers*/
.cleaner
	box-sizing border-box
		*zoom: 1;
	&:before
	&:after
		display table
		line-height 0
		content ""
	&:after
		clear both
.contenedor {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.contenedor {
		width: 740px;
	}
}
@media (min-width: 992px) {
	.contenedor {
		width: 964px;
	}
}
@media (min-width: 1200px) {
	.contenedor {
		width: 1170px;
	}
}
label.error
	display none !important;
.error
	background #f07575 /*#f23655*//*#FC9494*/
	color #fff
	border 2px solid #c7c7c7 !important
	animation 0.7s 1 wobble-horizontal linear
@keyframes wobble-horizontal {
	16.65% {
		transform translateX(8px)
	}
	33.3% {
		transform translateX(-6px)
	}
	49.95% {
		transform: translateX(4px)
	}
	66.6% {
		transform translateX(-2px)
	}
	83.25% {
		transform translateX(1px)
	}
	100% {
		transform translateX(0)
	}
}
ol
ul
	list-style none
	padding 0
	margin auto
	text-align center
/* Titulo Section general */
.tituloBox
	.tituloTexto
		h2
			span
				color rojo
/***************************************************
					Menú
****************************************************/
/* Top bar */
.topBar
	background plomoClaro_fondo
	padding 5px 0
	display none
	transition all 0.5s
	.contenedor
		height 25px
		line-height 25px
		.contactoList
			float left
			.contactoItem
				float left
				&:last-child
					margin-right 0
				div
					display inline-block
					p
						margin auto
						color plomoClaro_letra
				.iconBox
					margin-right 5px
		.socialList
			float right
			.socialItem
				float left
@media (min-width: 768px)
	.topBar
		display block
		.contactoList
			.contactoItem
				&:first-child
					margin-right 50px
		.socialList
			.socialItem
				margin auto 15px auto auto
				&:last-child
					margin-right 0
.menu
	position relative
	padding 5px 0
	box-shadow 0 1px 10px rgba(0,0,0,0.4)
	z-index 10
	.logoBox
		position relative
		display block
		width 100%
		max-width 240px
		margin auto
		img
			width 100%
			height auto
	.menuList
		display none
		text-align center
		.menuItem
			display block
			padding 0
			.menuLink
				display block
				padding 10px
				font-weight bold
				color plomoOscuro_letra
				border-radius 5px
				transition background 0.3s
				&:hover
				&:active
					background rojo
					color #fff
	.pull-menu
		display block
		margin auto
		width 100%
		visibility visible
		text-align center
		color plomoOscuro_letra
		background violeta
		font-weight bold
		transition all 0.5s ease
		&:hover
		&:focus
		&:active
			color plomoOscuro_letra
		span
			height 100%
			width 100%
			line-height 50px
			display block
			.menutxt
				display inline-block
				line-height 0
				width auto
				height auto
				margin-right 15px
			svg
				vertical-align middle
				width 45px
				height 45px
@media (min-width: 992px)
	.menu
		.logoBox
			float left
		.menuList
			display table !important
			float right
			height 55px
			.menuItem
				display table-cell
				vertical-align middle
				margin auto
				padding-right 30px
				&:last-child
					padding-right 0
		.pull-menu
			visibility hidden
			display none
/***************************************************
					Home
****************************************************/
/* Mapa */
.mapaWrapper
	position relative
	#mapa
		width 100%
		height 350px
	.presentacionWrapper
		position relative
		background-repeat no-repeat
		background-size cover
		background-position 50%
		padding 30px 0
		&:before
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			content ''
			background-color rojo_overlay
		.textoBox
			position relative
			text-align center
			width 100%
			max-width 700px
			margin auto
			z-index 10
			h1
			p
				margin auto auto 15px
				font-weight normal
				font-size 20px
				color #fff
				span
					font-size 25px
					font-weight bolder
			.texto
				width 100%
				max-width 550px
				margin auto
				p
					margin auto
					color #fff
					font-size 16px
					text-align center
@media (min-width: 768px)
	.mapaWrapper
		.presentacionWrapper
			.textoBox
				h1
				p
					font-size 36px
					span
						font-size 40px
				.texto
					p
						font-size 18px
@media (min-width: 1200px)
	.mapaWrapper
		.presentacionWrapper
			background-attachment fixed
/* Propiedades */
.propiedadesRecientes
	.propiedadesWrapper
		.propiedadList
			.propiedadItem
				position relative
				display inline-block
				width 100%
				max-width 300px
				margin auto
				box-shadow 0px 1px 10px rgba(0,0,0,0.25)
				border-radius 5px
				.propiedadBox
					display block
					.propiedadLink
						position relative
						.imgBox
							display block
							overflow hidden
							height 175px
							border-bottom 3px solid rojo
							img
								position relative
								width 100%
								height auto
								min-height 175px
								top 50%
								transform translateY(-50%)
							.overlayBox
								position absolute
								top 0
								left 0
								width 100%
								height 100%
								background rgba(0,0,0,0.4)
						.nuevo
							position absolute
							top 165px
							left 50%
							transform translateX(-50%)
							color #fff
							line-height 1
							background rojo
							padding 3px 15px
							font-size 14px
							border-radius 6px
							box-shadow inset 0 -10px 0 rgb(215, 5, 5) rojoSombra
							z-index 10
						.contenidoBox
							padding 20px 10px 10px
							border-bottom 1px solid plomoClaro_fondo
							.nameBox
								text-align left
								h3
								p
									margin auto
									color rojo
							.iconoList
								text-align left
								margin 10px auto
								.iconoItem
									display inline-block
									margin-right 15px
									color plomoOscuro_letra
									&:last-child
										margin-right 0
							.descripcion
								text-align left
								height 90px
								p
									margin auto
									color plomoOscuro_letra
					.precioBox
						padding 10px
						.precio
							float left
							p
								margin auto
						.share
							float right
	.enlacesWrapper
		.enlaceList
			.enlaceItem
				position relative
				display block