<meta name="author" content="">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="all, index, follow">
<meta name="googlebot" content="all, index, follow">
<meta name="google-site-verification" content="" />
<meta name=apple-mobile-web-app-capable content=yes>
<!-- Favicones -->
<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link rel="icon" href="img/16x16.ico" type="image/x-icon">
<link rel="shortcut icon" href="img/16x16.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="57x57" href="[[+c.touch_icon_iphone]]" />
<link rel="apple-touch-icon" sizes="72x72" href="[[+c.touch_icon_ipad]]" />
<link rel="apple-touch-icon" sizes="114x114" href="[[+c.touch_icon_iphone_retina]]" />
<link rel="apple-touch-icon" sizes="144x144" href="[[+c.touch_icon_ipad_retina]]" />
<link rel="apple-touch-icon" sizes="460x320" href="[[+c.apple_touchstartup_image]]" />
<!-- RESPONSIVE! ADAPTACIÓN DEL VIEWPORT & más -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="produccion/css/style.min.css">
<style>
	.inside3 {
		height: 10px;
		width: 10px;
		display:block;
		position: relative;
	}
	input[type="checkbox"]:checked + label .inside3:before {
		position: absolute;
		content: "\e004";
		font-family: "Flaticon";
		font-size:  28px;
		color: #7e9b26;
		font-weight: 100;
		line-height: 0px;
		top: 8px;
		right: -17px;
	}
	input[type="radio"]:checked + label .inside3:before {
		position: absolute;
		content: "\e004";
		font-family: "Flaticon";
		font-size:  28px;
		color: #7e9b26;
		font-weight: 100;
		line-height: 0px;
		top: 8px;
		right: -17px;
	}
</style>