<!--[if lt IE 9]>
	<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="produccion/js/lib/utilitario/respond.min.js"></script>
	<script src="produccion/js/lib/utilitario/html5shiv.min.js"></script>
<![endif]-->
<!--[if (gte IE 6)&(lte IE 8)]>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="produccion/js/lib/jquery/jquery-2.0.3.min.js"><\/script>')</script>
<script src="produccion/js/general/jsgeneral.min.js"></script>
<script>
	$(document).on('ready',function(){
		/* NiceScroll */
			$("html").niceScroll({
					cursorcolor:"rgba(216,0,109,1)",
					cursorwidth: "5px",
					cursorborder: "1px solid rgba(216,0,109,1)",
					cursorborderradius: "7px",
					scrollspeed: "65",
					zindex: "6666",
					background:"transparent"
				});
		/* Animación de menú */
			function menuSVG(){
				var svgIconConfig = {
					icoMenu : {
						url : 'produccion/img/1.svg',
						animation : [
							{ 
								el : 'path:nth-child(1)', 
								animProperties : { 
									from : { val : '{"path" : "m 5.0916789,20.818994 53.8166421,0"}' }, 
									to : { val : '{"path" : "M 12.972944,50.936147 51.027056,12.882035"}' }
								} 
							},
							{ 
								el : 'path:nth-child(2)', 
								animProperties : { 
									from : { val : '{"transform" : "s1 1", "opacity" : 1}', before : '{"transform" : "s0 0"}' }, 
									to : { val : '{"opacity" : 0}' }
								} 
							},
							{ 
								el : 'path:nth-child(3)', 
								animProperties : { 
									from : { val : '{"path" : "m 5.0916788,42.95698 53.8166422,0"}' }, 
									to : { val : '{"path" : "M 12.972944,12.882035 51.027056,50.936147"}' }
								} 
							}
						]
					}
				};
				(function(){
					new svgIcon( document.querySelector( '.ico-menu' ), svgIconConfig, { easing : mina.elastic, speed: 600 } );
				})();
			}
			menuSVG();
		/* ComboBox Menú */
			$('.pull-menu').on('click',function(){
				if($(window).width()<992) {
					$('.menuList').slideToggle('5000s');
					$('.pull-menu').toggleClass('open-menu');
				}
			});
	});
</script>