<section class="topBar">
	<div class="contenedor cleaner">
		<ul class="contactoList">
			<li class="contactoItem">
				<div class="iconBox"><span class="ico">M</span></div>
				<div class="texto"><p>123 456 789</p></div>
			</li>
			<li class="contactoItem">
				<div class="iconBox"><span class="ico">M</span></div>
				<div class="texto"><p>info@k2inmobiliaria.com</p></div>
			</li>
		</ul>
		<ul class="socialList">
			<li class="socialItem"><a href="" class="socialLink" title=""><span class="icono">M</span></a></li>
			<li class="socialItem"><a href="" class="socialLink" title=""><span class="icono">M</span></a></li>
			<li class="socialItem"><a href="" class="socialLink" title=""><span class="icono">M</span></a></li>
		</ul>
	</div>
</section>
<nav class="menu">
	<div class="contenedor cleaner">
		<a href="index.php" class="logoBox" title="K2 Inmobiliaria">
			<img src="produccion/img/logo.png" alt="K2 Inmoviliaria" title="K2 Inmoviliaria">
		</a>
		<a href="javascript:void(0)" class="pull-menu"><span class="ico-menu" data-icon-name="icoMenu"><span class="menutxt">Menú</span></span></a>
		<ul class="menuList">
			<li class="menuItem">
				<a href="" class="menuLink" title="Inicio">Inicio</a>
			</li>
			<li class="menuItem">
				<a href="" class="menuLink" title="Servicio">Servicio</a>
			</li>
			<li class="menuItem">
				<a href="" class="menuLink" title="Proyectos">Proyectos</a>
			</li>
			<li class="menuItem">
				<a href="" class="menuLink" title="Responsabilidad social">Responsabilidad social</a>
			</li>
			<li class="menuItem">
				<a href="" class="menuLink" title="Contáctanos">Contáctanos</a>
			</li>
		</ul>
	</div>
</nav>