<!-- Meta FAcebook -->
<meta property="og:title" content="Workday Sets Price Range for I.P.O." />
<meta property="og:site_name" content="[[++site_name]]"/>
<meta property="og:url" content="http://www.myfavnews.com/2013/workday-price" />
<meta property="og:description" content="" />
<meta property="fb:app_id" content="[FB_APP_ID]" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />            <!-- Default -->
<meta property="og:locale:alternate" content="fr_FR" />  <!-- French -->
<meta property="og:locale:alternate" content="it_IT" />  <!-- Italian -->
<meta property="article:author" content="https://www.facebook.com/fareedzakaria" />
<meta property="article:publisher" content="https://www.facebook.com/cnn" />
<meta property="og:image" content="http://www.your-site.com/image.jpg">
<meta property="fb:admins" content="your-Facebook-page-user-ID">
<!-- Meta Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@[[++site_name]]" />
<meta name="twitter:creator" content="@[[++site_name]]" />
<meta name="twitter:url" content="http://www.example.com/your-url-goes-here/">
<meta name="twitter:title" content="Title Goes Here">
<meta name="twitter:description" content="Your description goes here.">
<meta name="twitter:image" content="http://example.com/image.jpg">
<!-- Meta Google+ -->
<meta itemprop="name" content="Title Goes Here">
<meta itemprop="description" content="Description Goes Here">
<meta itemprop="image" content="http://example.com/image.jpg">